#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.active{
    background-color: #1d4ed8;
}

@media (max-width: 640px) {
     nav .menu {
        display: flex;
        cursor: pointer;
    } 

     nav {
        flex-direction: column;
        align-items: flex-start;
    } 

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}